In [1]:
import pandas as pd

In [2]:
locations = ["EL", "DL", "LB", "ML", "TS", "NT", "CH", "SS"]

In [3]:
df = pd.read_csv("../data/many/dummy.csv")

In [4]:
for index, row in df.iterrows():
    for loc in locations:
        for i in range(8):
            if row[loc + "_WD_" + str(i)] == 1:
                try:
                    df.set_value(index, loc + "_WD_" + str(i), row[loc + "WIND_SPEED"])
                except:
                    pass
                break
            else:
                continue

In [5]:
drops = [f for f in df.columns.tolist() if "WIND_SPEED" in f]
df.drop(drops, inplace=True, axis=1)

In [6]:
df[[f for f in df.columns.tolist() if "EL_WD_" in f]].head()

   EL_WD_0  EL_WD_1  EL_WD_2  EL_WD_3  EL_WD_4  EL_WD_5  EL_WD_6  EL_WD_7
0        0        3        0        0        0        0        0        0
1        0        3        0        0        0        0        0        0
2        0        3        0        0        0        0        0        0
3        0        3        0        0        0        0        0        0
4        0        3        0        0        0        0        0        0

In [7]:
df.to_csv("../data/many/wind.csv", index=False)