# version 1.0
#2017/5/22

In [1]:
#coding="big5"

In [2]:
import pandas as pd

In [3]:
inputfile = "data/filted.csv"

In [4]:
print inputfile

data/filted.csv

In [5]:
df = pd.read_csv(inputfile, parse_dates=True)

In [6]:
df = df.fillna(0)

In [7]:
df.head()

,datetime,AMB_TEMP,CO,NO,NO2,NOx,O3,PM10,PM2.5,RAINFALL,RH,SO2,WD_HR,WIND_DIREC,WIND_SPEED,WS_HR
0,2016-01-01 00:00:00,16.0,0.61,0.0,14.0,14.0,32.0,107.0,66.0,0.0,76.0,5.0,47.0,54.0,1.7,1.4
1,2016-01-01 01:00:00,16.0,0.61,0.1,13.0,13.0,31.0,109.0,56.0,0.0,77.0,4.2,45.0,52.0,2.2,1.2
2,2016-01-01 02:00:00,16.0,0.58,0.1,14.0,14.0,28.0,102.0,57.0,0.0,79.0,4.2,43.0,41.0,2.1,1.6
3,2016-01-01 03:00:00,16.0,0.55,1.2,9.9,11.0,32.0,117.0,65.0,0.0,79.0,3.9,40.0,44.0,1.9,2.0
4,2016-01-01 04:00:00,16.0,0.51,1.2,10.0,11.0,30.0,119.0,67.0,0.0,80.0,3.8,40.0,39.0,2.1,1.8

In [8]:
df.to_csv("data/fillna_zeros.csv", index=False)