In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data/central_reg/filted/1.csv")

In [3]:
df = df[:10]
df.drop(df.index[[2]], inplace=True)

,datetime,PM25,TEMP,RH,RAIN,WD,WS,PM10,NO,NO2,NOx,O3,CO,SO2
0,2007-01-01 00:00:00,18.0,17.000000,88.089996,0.0,228.220001,0.45,43.0,2.350000,10.700000,13.050000,7.4,0.32,0.2
1,2007-01-01 01:00:00,22.0,16.760000,88.680000,0.0,164.009995,0.53,35.0,6.040000,11.030000,17.080000,4.4,0.32,0.2
3,2007-01-01 03:00:00,25.0,17.030001,89.540001,0.0,179.539993,0.45,23.0,2.620000,10.790000,13.400000,3.9,0.38,0.1
4,2007-01-01 04:00:00,22.0,16.650000,89.900002,0.0,65.739998,1.13,29.0,7.150000,11.370000,18.530001,3.2,0.40,0.2
5,2007-01-01 05:00:00,28.0,15.950000,90.150002,0.0,334.559998,0.77,35.0,28.370001,14.970000,43.340000,4.4,0.63,0.6
6,2007-01-01 06:00:00,32.0,15.990000,90.379997,0.0,51.230000,0.64,35.0,30.350000,13.170000,43.509998,3.6,0.70,0.7
7,2007-01-01 07:00:00,44.0,16.219999,90.510002,0.0,38.619999,1.57,46.0,37.369999,14.320000,51.689999,3.8,0.87,1.5
8,2007-01-01 08:00:00,45.0,17.760000,90.750000,0.0,58.590000,3.69,60.0,21.510000,22.740000,44.250000,8.7,0.69,2.6
9,2007-01-01 09:00:00,58.0,19.250000,90.629997,0.0,39.380001,3.10,71.0,14.550000,26.049999,40.599998,19.6,0.63,5.9

In [4]:
df

,datetime,PM25,TEMP,RH,RAIN,WD,WS,PM10,NO,NO2,NOx,O3,CO,SO2
0,2007-01-01 00:00:00,18.0,17.000000,88.089996,0.0,228.220001,0.45,43.0,2.350000,10.700000,13.050000,7.4,0.32,0.2
1,2007-01-01 01:00:00,22.0,16.760000,88.680000,0.0,164.009995,0.53,35.0,6.040000,11.030000,17.080000,4.4,0.32,0.2
2,2007-01-01 02:00:00,21.0,17.010000,89.139999,0.0,203.850006,0.50,23.0,3.000000,10.490000,13.490000,5.0,0.39,0.1
3,2007-01-01 03:00:00,25.0,17.030001,89.540001,0.0,179.539993,0.45,23.0,2.620000,10.790000,13.400000,3.9,0.38,0.1
4,2007-01-01 04:00:00,22.0,16.650000,89.900002,0.0,65.739998,1.13,29.0,7.150000,11.370000,18.530001,3.2,0.40,0.2
5,2007-01-01 05:00:00,28.0,15.950000,90.150002,0.0,334.559998,0.77,35.0,28.370001,14.970000,43.340000,4.4,0.63,0.6
6,2007-01-01 06:00:00,32.0,15.990000,90.379997,0.0,51.230000,0.64,35.0,30.350000,13.170000,43.509998,3.6,0.70,0.7
7,2007-01-01 07:00:00,44.0,16.219999,90.510002,0.0,38.619999,1.57,46.0,37.369999,14.320000,51.689999,3.8,0.87,1.5
8,2007-01-01 08:00:00,45.0,17.760000,90.750000,0.0,58.590000,3.69,60.0,21.510000,22.740000,44.250000,8.7,0.69,2.6
9,2007-01-01 09:00:00,58.0,19.250000,90.629997,0.0,39.380001,3.10,71.0,14.550000,26.049999,40.599998,19.6,0.63,5.9