In [1]:
from datetime import datetime
import pandas as pd
import numpy as np
timeformat = "%Y-%m-%d %H:%M:%S"

In [2]:
inputfile = "../data/many/wind.csv"

In [3]:
df = pd.read_csv(inputfile, parse_dates=True)
df.head()

,datetime,target,ELAMB_TEMP,ELRAINFALL,ELRH,DLPM2.5,LBPM2.5,CHPM2.5,MLPM2.5,SSPM2.5,...,CH_WD_6,CH_WD_7,SS_WD_0,SS_WD_1,SS_WD_2,SS_WD_3,SS_WD_4,SS_WD_5,SS_WD_6,SS_WD_7
0,2012-01-01 00:00:00,43.0,15.0,0.0,77.0,18.0,NaN,28.0,19.0,26.0,...,0,0,0,4,0,0,0,0,0,0
1,2012-01-01 01:00:00,60.0,15.0,0.0,75.0,17.0,NaN,32.0,24.0,23.0,...,0,0,0,3,0,0,0,0,0,0
2,2012-01-01 02:00:00,55.0,16.0,0.0,74.0,25.0,NaN,NaN,27.0,22.0,...,0,0,0,4,0,0,0,0,0,0
3,2012-01-01 03:00:00,41.0,16.0,0.0,73.0,33.0,NaN,22.0,27.0,23.0,...,0,0,0,4,0,0,0,0,0,0
4,2012-01-01 04:00:00,31.0,15.0,0.0,74.0,33.0,NaN,22.0,27.0,25.0,...,0,0,0,3,0,0,0,0,0,0

In [4]:
for index, item in df.datetime.iteritems():
    time = datetime.strptime(item, timeformat)
    df.set_value(index, 'hour', time.hour)
    df.set_value(index, 'month', time.month)

In [5]:
df.head()

,datetime,target,ELAMB_TEMP,ELRAINFALL,ELRH,DLPM2.5,LBPM2.5,CHPM2.5,MLPM2.5,SSPM2.5,...,SS_WD_0,SS_WD_1,SS_WD_2,SS_WD_3,SS_WD_4,SS_WD_5,SS_WD_6,SS_WD_7,hour,month
0,2012-01-01 00:00:00,43.0,15.0,0.0,77.0,18.0,NaN,28.0,19.0,26.0,...,0,4,0,0,0,0,0,0,0.0,1.0
1,2012-01-01 01:00:00,60.0,15.0,0.0,75.0,17.0,NaN,32.0,24.0,23.0,...,0,3,0,0,0,0,0,0,1.0,1.0
2,2012-01-01 02:00:00,55.0,16.0,0.0,74.0,25.0,NaN,NaN,27.0,22.0,...,0,4,0,0,0,0,0,0,2.0,1.0
3,2012-01-01 03:00:00,41.0,16.0,0.0,73.0,33.0,NaN,22.0,27.0,23.0,...,0,4,0,0,0,0,0,0,3.0,1.0
4,2012-01-01 04:00:00,31.0,15.0,0.0,74.0,33.0,NaN,22.0,27.0,25.0,...,0,3,0,0,0,0,0,0,4.0,1.0

In [6]:
time_dummies = pd.get_dummies(df["hour"]).rename(columns = lambda x:"hour_" + str(int(x)))
month_dummies = pd.get_dummies(df["month"]).rename(columns = lambda x: "month_" + str(int(x)))

In [7]:
df = pd.concat([df, time_dummies], axis=1)
df = pd.concat([df, month_dummies], axis=1)

In [8]:
df.drop(["hour", "month"], inplace=True, axis=1)

In [9]:
df.describe()

,target,ELAMB_TEMP,ELRAINFALL,ELRH,DLPM2.5,LBPM2.5,CHPM2.5,MLPM2.5,SSPM2.5,TSPM2.5,...,month_3,month_4,month_5,month_6,month_7,month_8,month_9,month_10,month_11,month_12
count,41708.000000,43546.000000,43451.000000,43471.000000,42496.000000,41008.000000,42455.000000,42741.000000,42727.000000,42623.000000,...,43848.000000,43848.000000,43848.000000,43848.000000,43848.000000,43848.000000,43848.000000,43848.000000,43848.000000,43848.000000
mean,30.384315,24.216440,0.160388,77.645787,32.992823,32.491124,28.652997,26.757774,26.677183,27.094456,...,0.084839,0.082102,0.084839,0.082102,0.084839,0.084839,0.082102,0.084839,0.082102,0.084839
std,19.579291,5.834903,1.415141,11.332663,22.238365,20.926002,18.780648,19.163563,17.622376,18.486927,...,0.278644,0.274523,0.278644,0.274523,0.278644,0.278644,0.274523,0.278644,0.274523,0.278644
min,0.000000,1.500000,0.000000,13.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,17.000000,20.000000,0.000000,70.000000,17.000000,17.000000,15.000000,13.000000,14.000000,14.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,26.000000,25.000000,0.000000,80.000000,29.000000,28.000000,25.000000,23.000000,22.000000,23.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,40.000000,29.000000,0.000000,87.000000,45.000000,44.000000,39.000000,36.000000,35.000000,36.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,410.000000,38.000000,48.000000,100.000000,208.000000,204.000000,192.000000,179.000000,330.000000,201.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [10]:
df.to_csv("../data/many/date.csv", index=False)