In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/dropna/separation.csv')

In [3]:
df = df[['AMB_TEMP', 'RAINFALL', 'WIND_DIREC', 'WIND_SPEED', 'RH']]
df.head()

    AMB_TEMP  RAINFALL  WIND_DIREC  WIND_SPEED   RH
0  17.000000       0.0       225.0         1.0  3.0
1  16.760000       0.0       180.0         1.0  3.0
2  17.010000       0.0       225.0         1.0  3.0
3  17.030001       0.0       180.0         1.0  3.0
4  16.650000       0.0        45.0         1.0  3.0

In [4]:
rainfall = pd.get_dummies(df['RAINFALL']).rename(columns = lambda x: "RF_" + str(int(x)))

direct = pd.get_dummies(df['WIND_DIREC']).rename(columns = lambda x: "WD_" + str(int(x/45)))

speed = pd.get_dummies(df['WIND_SPEED']).rename(columns = lambda x: "WS_" + str(int(x)))

rh = pd.get_dummies(df['RH']).rename(columns = lambda x: "RH_" + str(int(x)))

In [5]:
df = pd.concat([df, rainfall, direct, speed, rh], axis=1)

In [6]:
df.head()

,AMB_TEMP,RAINFALL,WIND_DIREC,WIND_SPEED,RH,RF_0,RF_1,RF_2,RF_3,RF_4,...,WS_2,WS_3,WS_4,WS_5,WS_6,WS_7,RH_0,RH_1,RH_2,RH_3
0,17.000000,0.0,225.0,1.0,3.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,16.760000,0.0,180.0,1.0,3.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,17.010000,0.0,225.0,1.0,3.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,17.030001,0.0,180.0,1.0,3.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,16.650000,0.0,45.0,1.0,3.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82674 entries, 0 to 82673
Data columns (total 30 columns):
AMB_TEMP      82674 non-null float64
RAINFALL      82674 non-null float64
WIND_DIREC    82674 non-null float64
WIND_SPEED    82674 non-null float64
RH            82674 non-null float64
RF_0          82674 non-null uint8
RF_1          82674 non-null uint8
RF_2          82674 non-null uint8
RF_3          82674 non-null uint8
RF_4          82674 non-null uint8
WD_0          82674 non-null uint8
WD_1          82674 non-null uint8
WD_2          82674 non-null uint8
WD_3          82674 non-null uint8
WD_4          82674 non-null uint8
WD_5          82674 non-null uint8
WD_6          82674 non-null uint8
WD_7          82674 non-null uint8
WS_0          82674 non-null uint8
WS_1          82674 non-null uint8
WS_2          82674 non-null uint8
WS_3          82674 non-null uint8
WS_4          82674 non-null uint8
WS_5          82674 non-null uint8
WS_6          82674 non-null uint8
WS_7          82674 non-null uint8
RH_0          82674 non-null uint8
RH_1          82674 non-null uint8
RH_2          82674 non-null uint8
RH_3          82674 non-null uint8
dtypes: float64(5), uint8(25)
memory usage: 5.1 MB

In [8]:
df.drop(["RAINFALL", "WIND_DIREC", "WIND_SPEED", "RH"], inplace=True, axis=1)

In [9]:
df.to_csv('../data/dropna/dummy.csv', index=False)