In [1]:
import pandas as pd

frames = list()

In [2]:
for year in range(96, 106):
    data = pd.read_csv("../data/reshaped/reshaped_" + str(year) + ".csv", parse_dates=True)
    frames.append(data)

In [3]:
df = pd.concat(frames)

In [4]:
columns = df.columns.tolist()

In [5]:
df = df[[column for column in columns if column not in ['SHELT_TEMP', 'station', 'WD_HR', 'WS_HR']]]

In [6]:
df[df.isnull().T.any()]

,AMB_TEMP,CO,NO,NO2,NOx,O3,PM10,PM2.5,RAINFALL,RH,SO2,WIND_DIREC,WIND_SPEED,datetime
37,24.06,0.27,1.54,11.1,12.63,NaN,59,27,0.0,67.45,3.1,79.15,4,2007-01-02 13:00:00
185,13.5,0.52,1.19,25.38,26.57,2#,NaN,63,0.0,62.87,11.7,40.04,5.73,2007-01-08 17:00:00
204,19.47,0.77,.67#,NaN,.8#,3#,82,29,0.0,53.68,12.9#,81.23,4.81,2007-01-09 12:00:00
255,21.16,0.39,1,9.59,10.58,49.7,NaN,29,0.0,71.93,3.7,90.56,5.85,2007-01-11 15:00:00
1047,26.82,.38#,1.1#,NaN,.74#,89.5,0#,0#,0#,60.53,.6#,279.95,2.05,2007-02-13 15:00:00
1139,28.09,0.32,0.93,6.01,6.94,52.1,70,NaN,0.0,65.27,3.9,256.51,5.58,2007-02-17 11:00:00
1140,28.58,0.26,0.68,4.56,5.24,54.1,57,NaN,0.0,67.39,1.9,259.17,5.64,2007-02-17 12:00:00
1358,22.42,0.31,NaN,NaN,NaN,52.4#,67,29,0.0,55.41,2.7,94.09,4.66,2007-02-26 14:00:00
1359,21.65,.43#,.4#,NaN,.83#,46.1#,82,38,.2#,58.22,1.5#,79.88,5.82,2007-02-26 15:00:00
1379,24.07,.94#,.63#,NaN,.82#,25.9#,97,44,0#,54.44,24.1#,0#,0#,2007-02-27 11:00:00
1380,24.48,0.5,.63#,NaN,.82#,42.9,98,42,0.2,56.48,10,0#,3.42,2007-02-27 12:00:00
1381,24.29,0.32,.63#,NaN,.82#,57.2,66,39,0.0,61.77,4.9,350.48,3.67,2007-02-27 13:00:00
1576,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2007-03-07 16:00:00
1743,23.96,.38#,-.01#,NaN,.58#,54.8#,0#,0#,0.0,70.11,1.5#,299.14,1.2,2007-03-14 15:00:00
2051,28.42,0.27,NaN,NaN,NaN,35.7#,35,19,0.0,71.38,1.9,220.53,2.62,2007-03-27 11:00:00
2052,26.55,0.21,NaN,NaN,NaN,6.7#,29,19,0.0,68.35,1.5,265.17,2.86,2007-03-27 12:00:00
2053,-29.49*,0.18,NaN,NaN,NaN,6.7#,31,27,0.4,0.11,1.1,0.58,0.02,2007-03-27 13:00:00
3085,29.68,.22#,NaN,NaN,NaN,74.6,63,55,0.0,45.52,NaN,284.5,1.78,2007-05-09 13:00:00
3086,30.39,.22#,NaN,NaN,NaN,NaN,0#,0#,0.0,42.35,2.4#,299.82,2.19,2007-05-09 14:00:00
3087,29.34,0.23,NaN,NaN,NaN,6.8#,0#,0#,0.0,53.13,2.2,306.16,1.86,2007-05-09 15:00:00
3301,30.49,0.26,.35#,2.85#,3.2#,65.3,0#,NaN,0.0,66.55,1.8,236.35,4.17,2007-05-18 13:00:00
3302,30.7,0.25,.38#,3.38#,3.75#,67.7,0#,NaN,0.0,67.04,2,239.51,5.24,2007-05-18 14:00:00
3303,30.12,0.32,0.42,3.88,4.3,93.2,0#,NaN,0.0,68.47,3.9,249.57,4.99,2007-05-18 15:00:00
3324,27.64,0.29,0.94,10.65,11.59,34.2,25,NaN,0.0,66.75,2.9,304.58,1.11,2007-05-19 12:00:00
3325,27.43,0.23,0.54,9.41,9.95,55.9,31,NaN,0.0,66.62,3.1,298.05,3.01,2007-05-19 13:00:00
3326,27.75,0.42,1.5,19.6,21.1,44.3,39,NaN,0.0,65.07,8.8,40.86,2.98,2007-05-19 14:00:00
3447,32.17,.09#,.7#,2.63#,3.32#,21,0#,NaN,0#,66.08,.7#,249.25,5.87,2007-05-24 15:00:00
3710,25.38,0.12,.02#,2.47#,2.49#,NaN,0#,0#,6.2,93.19,0.6,159.59,3.17,2007-06-04 14:00:00
3754,29.19,0.16,2.53,6.21,8.74,NaN,17,19,0.0,81.83,2.2,175.3,4.03,2007-06-06 10:00:00
3755,28.27,0.1,1.27,6.26,7.52,NaN,17,19,24.8,82.64,1.4,250.9,2.94,2007-06-06 11:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6518,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-09-28 14:00:00
6519,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-09-28 15:00:00
6525,27,0.22,1,4.5,5.5,27,NaN,5,0.0,80,NaN,196,4,2016-09-28 21:00:00
6526,27,0.23,0.8,4.2,5,30,NaN,7,0.0,79,NaN,167,3.1,2016-09-28 22:00:00
6527,27,0.21,0.8,3.3,4.1,32,NaN,4,0.0,79,NaN,182,3.1,2016-09-28 23:00:00
6528,27,0.21,1,2.7,3.7,32,NaN,2,0.0,82,NaN,189,3.2,2016-09-29 00:00:00
6529,27,0.2,0.7,2.8,3.6,35,NaN,4,0.0,80,NaN,194,5.4,2016-09-29 01:00:00
6530,27,0.19,1,2,3,38,NaN,9,0.0,84,NaN,193,4.3,2016-09-29 02:00:00
6531,26,0.18,1,4,5,33,NaN,6,0.0,86,NaN,195,3.6,2016-09-29 03:00:00
6532,26,0.18,0.7,3.6,4.3,33,NaN,5,0.0,89,NaN,199,3.4,2016-09-29 04:00:00
6533,26,0.19,0.6,2.9,3.5,34,NaN,4,0.0,90,NaN,183,4,2016-09-29 05:00:00
6534,26,0.19,0.5,1.9,2.3,36,NaN,3,0.0,88,NaN,192,4.6,2016-09-29 06:00:00
6537,28,0.2,0.9,2.8,3.8,40,NaN,7,0.0,82,NaN,227,3.9,2016-09-29 09:00:00
6538,30,0.22,0.9,2.6,3.5,47,NaN,9,0.0,77,NaN,196,3.4,2016-09-29 10:00:00
6539,31,0.25,1.1,3.3,4.4,53,NaN,12,0.0,73,NaN,210,4,2016-09-29 11:00:00
6540,32,0.25,1.1,3.4,4.5,58,NaN,14,0.0,69,NaN,220,4.8,2016-09-29 12:00:00
6541,32,0.24,0.9,4.2,5.1,63,NaN,19,0.0,71,NaN,235,4.2,2016-09-29 13:00:00
6542,31,0.24,0.9,4.1,5,53,NaN,20,0.0,73,NaN,249,4.2,2016-09-29 14:00:00
6543,31,0.24,1,4.1,5,44,NaN,26,0.0,72,NaN,138,2.9,2016-09-29 15:00:00
6544,30,0.27,1,6,7.1,29,NaN,7,0.0,73,NaN,97,2,2016-09-29 16:00:00
6545,30,0.29,0.7,8.8,9.5,28,NaN,2,0.0,75,NaN,152,1.7,2016-09-29 17:00:00
6546,30,0.24,0.8,5,5.7,35,NaN,6,0.0,71,NaN,190,1.9,2016-09-29 18:00:00
6850,29,0.18,0.7#,NaN,0.4#,36,0#,-7#,0.0,73,3.4#,44,3.7,2016-10-12 10:00:00
7504,25,0.36,0.3#,8.2#,8.4#,42,NaN,NaN,0.0,70,2,45,6.4,2016-11-08 16:00:00
7633,NaN,NaN,NaN,NaN,NaN,NaN,121,34,NaN,NaN,NaN,NaN,NaN,2016-11-14 01:00:00
7634,NaN,NaN,NaN,NaN,NaN,NaN,146,42,NaN,NaN,NaN,NaN,NaN,2016-11-14 02:00:00
7635,NaN,NaN,NaN,NaN,NaN,NaN,159,48,NaN,NaN,NaN,NaN,NaN,2016-11-14 03:00:00
7636,NaN,NaN,NaN,NaN,NaN,NaN,163,55,NaN,NaN,NaN,NaN,NaN,2016-11-14 04:00:00
7637,NaN,NaN,NaN,NaN,NaN,NaN,138,54,NaN,NaN,NaN,NaN,NaN,2016-11-14 05:00:00
7886,24,0.31#,1.9#,NaN,0.9#,37,0#,-7#,0.0,69,3.2#,43,6.1,2016-11-24 14:00:00

In [7]:
df['datetime'] = pd.to_datetime(df.datetime)

In [8]:
df = df.sort_values(by='datetime')

In [9]:
df.to_csv("../data/reshaped.csv", index=False)