In [1]:
import pandas as pd

In [3]:
df_date = pd.read_csv("../data/date_feature.csv", parse_dates=True)
df_norm = pd.read_csv("../data/normalized.csv", parse_dates=True)

In [6]:
cols_date = df_date.columns.tolist()
cols_norm = df_norm.columns.tolist()
print cols_date, cols_norm

['datetime', 'AMB_TEMP', 'PM2.5', 'RAINFALL', 'RH', 'WIND_SPEED', 'WS_HR', 'origin_PM2.5', 'weekday', 'weekend', 'hour_0', 'hour_1', 'hour_2', 'hour_3', 'hour_4', 'hour_5', 'hour_6', 'hour_7', 'hour_8', 'hour_9', 'hour_10', 'hour_11', 'hour_12', 'hour_13', 'hour_14', 'hour_15', 'hour_16', 'hour_17', 'hour_18', 'hour_19', 'hour_20', 'hour_21', 'hour_22', 'hour_23', 'fall', 'spring', 'summer', 'winter'] ['datetime', 'AMB_TEMP', 'CO', 'NO', 'NO2', 'NOx', 'O3', 'PM10', 'PM2.5', 'RAINFALL', 'RH', 'SO2', 'WIND_SPEED', 'WS_HR', 'origin_PM2.5']

In [7]:
df_date.head()

,datetime,AMB_TEMP,PM2.5,RAINFALL,RH,WIND_SPEED,WS_HR,origin_PM2.5,weekday,weekend,...,hour_18,hour_19,hour_20,hour_21,hour_22,hour_23,fall,spring,summer,winter
0,2016/1/1 0:00,0.56338,0.248120,0.0,0.883721,0.285714,0.166667,66.0,1,0,...,0,0,0,0,0,0,0,0,0,1
1,2016/1/1 1:00,0.56338,0.210526,0.0,0.895349,0.285714,0.166667,56.0,1,0,...,0,0,0,0,0,0,0,0,0,1
2,2016/1/1 2:00,0.56338,0.214286,0.0,0.918605,0.285714,0.333333,57.0,1,0,...,0,0,0,0,0,0,0,0,0,1
3,2016/1/1 3:00,0.56338,0.244361,0.0,0.918605,0.285714,0.333333,65.0,1,0,...,0,0,0,0,0,0,0,0,0,1
4,2016/1/1 4:00,0.56338,0.251880,0.0,0.930233,0.285714,0.333333,67.0,1,0,...,0,0,0,0,0,0,0,0,0,1

In [9]:
df_norm.head()

,datetime,AMB_TEMP,CO,NO,NO2,NOx,O3,PM10,PM2.5,RAINFALL,RH,SO2,WIND_SPEED,WS_HR,origin_PM2.5
0,2016-01-01 00:00:00,0.330986,0.367470,0.000000,0.341463,0.172932,0.265442,0.227468,0.244361,0.0,0.732558,0.238095,0.285714,0.166667,66.0
1,2016-01-01 01:00:00,0.330986,0.367470,0.002174,0.317073,0.160401,0.257095,0.231760,0.206767,0.0,0.744186,0.200000,0.285714,0.166667,56.0
2,2016-01-01 02:00:00,0.330986,0.349398,0.002174,0.341463,0.172932,0.232053,0.216738,0.210526,0.0,0.767442,0.200000,0.285714,0.333333,57.0
3,2016-01-01 03:00:00,0.330986,0.331325,0.026087,0.241463,0.135338,0.265442,0.248927,0.240602,0.0,0.767442,0.185714,0.285714,0.333333,65.0
4,2016-01-01 04:00:00,0.330986,0.307229,0.026087,0.243902,0.135338,0.248748,0.253219,0.248120,0.0,0.779070,0.180952,0.285714,0.333333,67.0

In [11]:
df_date['PM2.5'] = df_norm['PM2.5']
df_date['RH'] = df_norm['RH']
df_date['WIND_SPEED'] = df_norm['WIND_SPEED']
df_date['WS_HR'] = df_norm['WS_HR']
df_date['RAINFALL'] = df_norm['RAINFALL']
df_date['AMB_TEMP'] = df_norm['AMB_TEMP']

In [12]:
df_date.head()

,datetime,AMB_TEMP,PM2.5,RAINFALL,RH,WIND_SPEED,WS_HR,origin_PM2.5,weekday,weekend,...,hour_18,hour_19,hour_20,hour_21,hour_22,hour_23,fall,spring,summer,winter
0,2016/1/1 0:00,0.330986,0.244361,0.0,0.732558,0.285714,0.166667,66.0,1,0,...,0,0,0,0,0,0,0,0,0,1
1,2016/1/1 1:00,0.330986,0.206767,0.0,0.744186,0.285714,0.166667,56.0,1,0,...,0,0,0,0,0,0,0,0,0,1
2,2016/1/1 2:00,0.330986,0.210526,0.0,0.767442,0.285714,0.333333,57.0,1,0,...,0,0,0,0,0,0,0,0,0,1
3,2016/1/1 3:00,0.330986,0.240602,0.0,0.767442,0.285714,0.333333,65.0,1,0,...,0,0,0,0,0,0,0,0,0,1
4,2016/1/1 4:00,0.330986,0.248120,0.0,0.779070,0.285714,0.333333,67.0,1,0,...,0,0,0,0,0,0,0,0,0,1

In [13]:
df_date.to_csv("../data/date_feature.csv", index=False)