In [1]:
from datetime import datetime
import pandas as pd
import numpy as np

In [2]:
inputfile = "../data/dropna/dropna.csv"
data = pd.read_csv(inputfile, parse_dates=True)

In [3]:
df = data[['datetime']]
timeformat = "%Y-%m-%d %H:%M:%S"
df.head()

              datetime
0  2007-01-01 00:00:00
1  2007-01-01 01:00:00
2  2007-01-01 02:00:00
3  2007-01-01 03:00:00
4  2007-01-01 04:00:00

In [4]:
for index, item in df.datetime.iteritems():
    time = datetime.strptime(item, timeformat)
    df.set_value(index, 'hour', time.hour)
    df.set_value(index, 'weekday', time.weekday())
    df.set_value(index, 'month', time.month)

/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/pandas/core/indexing.py:337: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/pandas/core/indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [5]:
time_dummies = pd.get_dummies(df["hour"]).rename(columns = lambda x:"hour_" + str(int(x)))
weekday_dummies = pd.get_dummies(df["weekday"]).rename(columns = lambda x:"weekday_" + str(int(x+1)))
month_dummies = pd.get_dummies(df["month"]).rename(columns = lambda x: "month_" + str(int(x)))

In [6]:
df = pd.concat([df, time_dummies], axis=1)
df = pd.concat([df, weekday_dummies], axis=1)
df = pd.concat([df, month_dummies], axis=1)

In [7]:
df.drop(["weekday", "hour", "month"], inplace=True, axis=1)

In [8]:
df.describe()

,hour_0,hour_1,hour_2,hour_3,hour_4,hour_5,hour_6,hour_7,hour_8,hour_9,...,month_3,month_4,month_5,month_6,month_7,month_8,month_9,month_10,month_11,month_12
count,82674.000000,82674.000000,82674.000000,82674.000000,82674.000000,82674.000000,82674.000000,82674.000000,82674.000000,82674.000000,...,82674.000000,82674.000000,82674.000000,82674.000000,82674.000000,82674.000000,82674.000000,82674.000000,82674.000000,82674.000000
mean,0.042299,0.042202,0.042178,0.042129,0.042166,0.042154,0.042033,0.042202,0.041803,0.041597,...,0.083327,0.083097,0.084803,0.080110,0.081440,0.083593,0.081162,0.087912,0.083170,0.085069
std,0.201271,0.201051,0.200996,0.200885,0.200968,0.200941,0.200665,0.201051,0.200139,0.199668,...,0.276378,0.276031,0.278590,0.271465,0.273512,0.276779,0.273086,0.283168,0.276141,0.278986
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [10]:
df.to_csv("../data/dropna/date_feature.csv", index=False)